{% extends 'base.html' %}
{% block mainbody %}
<div class="row">
<div class="col-sm-2 col-lg-2 col-md-2">
    <h4>Statistics</h4>
    <p>People: {{people}}</p>
    <p>Planets: {{planets}}</p>
    <p>Films: {{films}}</p>
    <p>Species : {{species}}</p>
    <p>Vehicles: {{vehicles}}</p>
    <p>Starships: {{starships}}</p>
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
{% load markdown_deux_tags %}
{% markdown %}
{% include "about.md" %}
{% endmarkdown %}
</div>
<div class="col-sm-2 col-lg-2 col-md-2">
</div>
</div>
{% endblock mainbody %}
