{% extends 'base.html' %}
{% block mainbody %}
<div class="row">
<div class="col-sm-2 col-lg-2 col-md-2">
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
    <h1 class="center">About</h1>
{% load markdown_deux_tags %}
{% markdown %}
{% include "about.md" %}
{% endmarkdown %}
</div>
<div class="col-sm-2 col-lg-2 col-md-2">
</div>
</div>
<div class="row">
<div class="col-sm-2 col-lg-2 col-md-2">
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
    <h3 >Donate</h3>
    <p>With small donations we can keep swapi running for free:</p>
<p><form action="/stripe/donation" method="POST">{% csrf_token %}
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_key }}"
            data-image="http://i.imgur.com/PqkJzx4s.png"
            data-name="swapi.co"
            data-description="Donate and keep swapi alive!"
            data-amount="1000"
            data-panel-label="Donate">
          </script>
        </form></p>
</div>
<div class="col-sm-2 col-lg-2 col-md-2">
</div>
</div>
{% endblock mainbody %}
