{% extends 'base.html' %}
{% block mainbody %}
<div class="row">
<div class="col-sm-2 col-lg-2 col-md-2">
    <h4>Statistics</h4>
    <p>People: {{people}}</p>
    <p>Planets: {{planets}}</p>
    <p>Films: {{films}}</p>
    <p>Species : {{species}}</p>
    <p>Vehicles: {{vehicles}}</p>
    <p>Starships: {{starships}}</p>
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
{% load markdown_deux_tags %}
{% markdown %}
{% include "about.md" %}
{% endmarkdown %}
</div>
<div class="col-sm-2 col-lg-2 col-md-2">
<h4>Donate</h4>
    <p>With small donations we can keep swapi running for free, please consider throwing us some beer money to say thank you. With every $10 we can keep the site up for another month!</p>
<p><form action="/stripe/donation" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripe_key}}"
            data-image="http://i.imgur.com/PqkJzx4s.png"
            data-name="swapi.co"
            data-description="Donate and keep swapi alive!"
            data-amount="1000"
            data-panel-label="Donate">
          </script>
        </form></p>
<p>We truly appreciate your support</p>
</div>
</div>
{% endblock mainbody %}
