<!DOCTYPE html>
<html lang="en">
<!-- Designed and built by Paul Hallett - http://phalt.co -->
  <head>
    <meta charset="utf-8">
    <title>
      Hermes
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    </style>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </script>
  </head>
  <body>
    <div class="container-fluid" style="margin-top: 60px;">
      <div class="row">
        <div class="col-sm-3">
        </div>
        {% block mainbody %}
        {% endblock mainbody %}
        <div class="col-sm-3">
        </div>
      </div>
    </div>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
